In [184]:
import pandas as pd
import datetime

In [185]:
c1 = pd.read_csv("E:\\Personal_Files\\Dariush\monash\\visual\\AS3\\new\\time_series_covid19_confirmed_global.csv")
d1 = pd.read_csv("E:\\Personal_Files\\Dariush\monash\\visual\\AS3\\new\\time_series_covid19_deaths_global.csv")
r1 = pd.read_csv("E:\\Personal_Files\\Dariush\monash\\visual\\AS3\\new\\time_series_covid19_recovered_global.csv")

In [186]:
start_date = datetime.datetime(2020, 1, 22)
end_date = datetime.datetime(2020, 4, 5)
oneDay = datetime.timedelta(days=1)

# Generate column names for days to cover
date_col_names = []
while start_date <= end_date:
    col_name = "D{}_M{}_Y{}".format(start_date.day, start_date.month, start_date.year)
    start_date += oneDay
    date_col_names.append(col_name)

# Rename columns
all_columns = ['State', 'Country', 'Lat', 'Long'] + date_col_names
c1.columns = all_columns
c1.head(4)

,State,Country,Lat,Long,D22_M1_Y2020,D23_M1_Y2020,D24_M1_Y2020,D25_M1_Y2020,D26_M1_Y2020,D27_M1_Y2020,...,D27_M3_Y2020,D28_M3_Y2020,D29_M3_Y2020,D30_M3_Y2020,D31_M3_Y2020,D1_M4_Y2020,D2_M4_Y2020,D3_M4_Y2020,D4_M4_Y2020,D5_M4_Y2020
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,110,110,120,170,174,237,273,281,299,349
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,186,197,212,223,243,259,277,304,333,361
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,409,454,511,584,716,847,986,1171,1251,1320
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,267,308,334,370,376,390,428,439,466,501

In [187]:
# Print columns with null value
x = len(c1) - c1.count()
for i in range(0, len(all_columns)):
    if x[i] > 0:
        print(all_columns[i])

State

In [188]:
c1.State.fillna(c1.Country, inplace=True)

### Pre-process death data set

In [189]:
d1.columns = all_columns

In [190]:
# Print columns with null value
d = len(d1) - d1.count()
for i in range(0, len(all_columns)):
    if x[i] > 0:
        print(all_columns[i])

State

In [191]:
d1.State.fillna(d1.Country, inplace=True)

### Pre-process recovered data set

In [194]:
r1.columns = all_columns

In [195]:
# Print columns with null value
x = len(r1) - r1.count()
for i in range(0, len(all_columns)):
    if x[i] > 0:
        print(all_columns[i])

State

In [196]:
r1.State.fillna(r1.Country, inplace=True)